* {box-sizing:border-box}

#overlay{ /* the overlay's display function*/
  position: absolute;
  display:  none;
  

}

#inside-overlay{
  position: absolute;
}

@font-face {
    font-family: 'peaberry';
    src: url(Peaberry-Base.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  margin:auto;
  transform: translate(500px,300px);
  z-index: 5;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 150px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translate(0px,150px);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-family: 'peaberry';
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.text-c {
  color: #ffffff;
  font-family: 'peaberry';
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-family: 'peaberry';
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

